#cumrap{
    color: black;
    padding-top: 3rem;
    width: 80%;
    margin: 0 auto;
    height: auto;
    .title__cumrap{
        text-align: center;
        font-size: 27px;
        margin-bottom: 2rem;
        color: black;
    }
    .cumrap__main{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 2rem;
        .cumrap__item{
            display: flex;
            justify-content: center;
            cursor: pointer;
            img{
                width: 110px;
            }
            &:hover{
                opacity: 1;
                transition: ease-out 0.5s all;
            }
        }
    }
    .chon__rap{
        .rap{
            cursor: pointer;
            .title__chon{
                font-size: 25px;
                color: black;
            }
            .chon__tenRap{
                height: 500px;
                overflow: auto;
                padding: 1rem;
                .chon__item{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid black;
                    padding-bottom: 1rem;
                    width: 100%;
                    img{
                        width: 60px;
                    }
                    &:hover{
                        opacity: 1;
                        transition: ease-out 0.5s all;
                    }
                    .detail__rap{
                        margin-left: 10px;
                        .tenRap{
                            color: orangered;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .lich__chieu{
            .lich{
                // background-color: lightblue;
                height: 500px;
                overflow: auto;
                padding: 1rem;
                .chieu{
                    border-bottom: 1px solid black;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    img{
                        width: 168px;
                        border-radius: 7px;
                    }
                    .info_lich{
                        .name__movie{
                            color: orangered;
                            font-size: 25px;
                        }
                        button{
                            outline: none !important;
                            border: none !important;
                        }
                    }
                }
            }
        }
        
    }
    .active_theater{
        opacity: 1;
    }
    .non_active_theater{
        opacity: 0.45;
    }
}