#detail{
    margin-top: 3rem;
    padding:3rem 0;
    background-image: url('./../../assets/images/background.jpg');
    background-attachment: fixed;
    .detail__trailer{
        width: 80%;
        margin: 0 auto;
        .trailer{
            img{
                width: 237px;
                height: 330px;
            }
            .booking{
                margin-top: 1rem;
            }
            button.btn.btn-primary {
                background-color: orangered;
                border: orangered;
            }
        }
        
        .detail__text{
            h3{
                color: orangered;
            }
            color: white;
            font-size: 15px;
            span{
                color: orangered;
                font-weight: bold;
            }
        }

    }
    #lich{
        padding-top: 3rem;
        color: orangered;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }
    .showsTime{
        padding: 1rem;
        border-radius: 5px;
        width: 80%;
        margin: 0 auto;
        background-color: white;
            .showTheater{
                border-right: 1px solid black;
                height: 370px;
                overflow: auto;
                .theater_item{
                    cursor: pointer;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid black;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    img{
                        width: 60px;
                    }
                    &:hover{
                        opacity: 1;
                        transition: ease-out 0.5s all;
                    }
                    span{
                        color: orangered;
                        font-size: 15px;
                        margin-left: 1rem;
                    }
                }
            }
            .showTime{
                height: 370px;
                overflow: auto;
                .day{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: nowrap;
                    overflow-y: auto;
                    .day_show{
                        height: auto;
                        padding: 2px;
                        font-size: 25px;
                        margin-right: 1rem;
                        color: black;
                        cursor: pointer;
                    }
                }
                .hour{
                    .hour__theater{
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        span{
                            color: orangered;
                        }
                        img{
                            width: 60px;
                            margin-right: 20px;
                        }
                    }
                    p{
                        margin-top: 1rem;
                        color: black;
                        font-weight: bold;
                    }
                }
            }
    }
    .active_theater{
        opacity: 1;
    }
    .non_active_theater{
        opacity: 0.45;
    }
    .display{
        display: inline-block;
    }
    .nonDispkay{
        display: none;
    }
    //RESPONESIVE
    @media only screen and (max-width: 815px) {
        .trailer{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-right: 2rem;
            }
            .booking{
                button{
                    width: 90px;
                    margin-left: 1rem;
                    margin-top: 1rem;
                }
            }
        }
        .detail__text{
            margin-top: 2rem;
            text-align: center;
        }
    }
    //Showtime
    @media only screen and (max-width: 845px) {
        .showsTime{
            flex-direction: column;
            .showTheater{
                height: 100px;
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                border-bottom: 1px solid black;
                border-right: unset;
                width: 100% !important;
                .theater_item{
                    border: unset;
                    span{
                        display: none;
                    }
                }
            }
            .showTime{
                .hour{
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}